.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.shadow_level_0 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#6A6D70;
}
.shape {
}
.ellipse {
}
.box_1 {
}
.checkbox {
  text-align:left;
}
.table_cell {
}
.connector {
}
.flow_shape {
}
.label {
  font-size:14px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.image {
}
.button {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.flow_shape1 {
}
.box_2 {
}
.link_button {
  color:#169BD5;
}
.icon {
}
.box_3 {
}
.primary_button {
  color:#FFFFFF;
}
.paragraph1 {
  text-align:left;
}
.shape1 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.box_11 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.label1 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.line1 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
}
.text_field1 {
  font-family:'72 ', '72', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.shape2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape3 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape4 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.text_area {
  color:#000000;
  text-align:left;
}
.image1 {
}
.radio_button {
  text-align:left;
}
.dialog_bg {
}
.button1 {
}
.materialicons {
  font-family:'Material Icons ', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.line2 {
}
.heading_11 {
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.box_12 {
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._tooltips_desktop {
  font-size:12px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
textarea, select, input, button { outline: none; }
